# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
      day: "monday"
      time: "05:00"
      # Use USA Standard Time (UTC +05:00)
      timezone: "America/New_York"
    # Allow up to 10 open pull requests for npm dependencies
    open-pull-requests-limit: 10
    # to npm package against the `master` branch
    target-branch: "master"
    # Labels on pull requests for version updates only
    labels:
      - "dependencies"
    # Add assignees
    assignees:
      - "yvipinaxioned"
    # Add reviewers
    reviewers:
      - "yvipinaxioned"
    ignore:
       - dependency-name: "react"
       - dependency-name: "react-dom"
       - dependency-name: "react-redux"
       - dependency-name: "react-router"
       - dependency-name: "chakra-ui/react"
       - dependency-name: "testing-library/react"
    update-types:
      - "minor"
      - "patch"
